.box {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  background-color: #23262e;
  margin: 100px auto;
  position: relative;
}
.box .hover-box {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  background-color: #42b291;
  position: absolute;
  top: -50px;
  left: -50px;
}
