<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./output.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="card mx-auto sm:my-12 max-w-[450px] rounded-xl shadow-2xl relative group"
    >
      <div class="content pt-8 sm:pt-4 sm:ps-40 p-4">
        <h2 class="text-gray-700 font-bold text-2xl">Delicious Apple</h2>
        <h5 class="text-gray-400 text-xs pt-1">CDD 45999</h5>
        <h1 class="text-red-500 font-semibold">
          $ <span class="text-3xl">7.96</span>
        </h1>
        <h5 class="text-gray-400">Select a color</h5>
        <div class="fruit-list flex">
          <span class="fruit"
            ><img
              class="w-9 hover:ring-1"
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png"
              alt=""
          /></span>
          <span class="fruit"
            ><img
              class="w-9 hover:ring-1"
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537302752/codepen/delicious-apples/yellow-apple.png"
              alt=""
          /></span>
          <span class="fruit"
            ><img
              class="w-9 hover:ring-1"
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537302427/codepen/delicious-apples/orange-apple.png"
              alt=""
          /></span>
          <span class="fruit"
            ><img
              class="w-9 hover:ring-1"
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537302285/codepen/delicious-apples/red-apple.png"
              alt=""
          /></span>
        </div>
        <h5 class="text-gray-400">Benefits</h5>
        <ul class="list-disc text-gray-600 ms-4 w-[200px]">
          <li>Apples are nutritious</li>
          <li>Apples may be good for weight loss</li>
          <li>Apples may be good for bone health</li>
          <li>They're LnkEd to a lowest risk of diabetes</li>
        </ul>
        <a
          href=""
          class="block py-2 px-5 bg-red-500 rounded-md mt-2 w-fit text-white font-semibold hover:bg-red-600"
          >Add to cart</a
        >
      </div>
      <div
        class="fruit-card max-w-48 shadow-2xl rounded-lg absolute top-8 left-[60%] sm:top-8 sm:-left-10"
      >
        <div
          class="bg bg-[#a7ec15] relative min-h-48 rounded-tr-lg rounded-tl-lg"
        >
          <div class="icon-list"></div>
          <img
            class="absolute -left-14 h-48 group-hover:animate-"
            src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png"
            alt=""
          />
        </div>
        <div class="fruit-list flex p-3 justify-between">
          <img
            class="w-9 h-9 hover:ring-1"
            src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png"
            alt=""
          />
          <img
            class="w-9 h-9 hover:ring-1"
            src="https://res.cloudinary.com/john-mantas/image/upload/v1537303532/codepen/delicious-apples/half-apple.png"
            alt=""
          />
          <img
            class="w-9 h-9 hover:ring-1"
            src="https://res.cloudinary.com/john-mantas/image/upload/v1537303160/codepen/delicious-apples/green-apple-flipped.png"
            alt=""
          />
          <img
            class="w-9 h-9 hover:ring-1"
            src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
