<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="card w-72 my-12 mx-auto rounded-xl bg-slate-200 p-2 text-zinc-600"
    >
      <img
        class="w-full rounded-lg"
        src="https://images.pexels.com/photos/4906298/pexels-photo-4906298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="tags mt-2">
        <span
          class="px-2.5 py-0.25 border border-gray-500 rounded-3xl mt-2 me-1"
          >Nature</span
        ><span class="px-2.5 py-0.25 border border-gray-500 rounded-3xl mt-2"
          >Lake</span
        >
      </div>
      <h2 class="font-semibold text-zinc-800 mt-2">Look at River Bank</h2>
      <p class="mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat at
        ratione quo id, nemo veniam temporibus earum. Eum rerum quidem nam,
        aliquid fugiat, animi recusandae, corporis amet omnis repudiandae ut?
      </p>
      <div
        class="mx-auto mt-3 py-2 px-3 rounded-3xl bg-sky-200 w-fit font-medium text-sky-500"
      >
        Read More
      </div>
    </div>
  </body>
</html>
