<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="partials.css" />
  </head>
  <body>
    <div class="cards">
      <div class="basic-card">
        <h2>Basic</h2>
        <h2>&#8377;<span>99</span>/month</h2>
        <hr />
        <ul>
          <li>1 Website</li>
          <li>Gb Storage</li>
          <li>1 Database</li>
          <li>Free Domain</li>
          <li>Professional Email</li>
          <li>24/7 Support</li>
        </ul>
        <div class="btn">Buy now</div>
      </div>
      <div class="standard-card"></div>
      <div class="premium-card"></div>
    </div>
  </body>
</html>
