<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body>
    <div
      class="category-card h-[400px] w-[700px] rounded-3xl group relative overflow-hidden"
    >
      <img
        class="h-full w-full object-cover grayscale group-hover:grayscale-0 transition-all duration-300 rounded-3xl group-hover:scale-110"
        src="https://in.ajmal.com/public/images/shop-women-hover.jpg"
        alt=""
      />
      <div
        class="menus w-full absolute top-1/2 text-white font-semibold text-lg flex justify-around"
      >
        <a
          href="#"
          class="transition-all duration-300 hover:underline hover:underline-offset-4"
          >Shop all Woman's</a
        >
        <a
          href="#"
          class="transition-all duration-300 hover:underline hover:underline-offset-4"
          >Best sellers</a
        >
        <a
          href="#"
          class="transition-all duration-300 hover:underline hover:underline-offset-4"
          >New Arrivals</a
        >
        <a
          href="#"
          class="transition-all duration-300 hover:underline hover:underline-offset-4"
          >Git sets</a
        >
      </div>
    </div>
  </body>
</html>
