<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body>
    <footer class="px-primary-pad py-5">
      <div class="newsletter"></div>
      <div class="footer-links flex justify-between">
        <div class="site-info max-w-[300px]">
          <img src="https://in.ajmal.com/media/wysiwyg/logo.png" alt="" />
          <h3>
            Nothing unlocks an old memory better than smell, be it the memory of
            lost love or of a fond friend.
          </h3>
        </div>
        <div class="link px-20 w-5/6 flex justify-between">
          <ul class="flex flex-col list-none text-sm">
            <h2 class="text-lg font-semibold">Customer Support</h2>
            <li class="hover:text-orange-500 slow">Contact Us</li>
            <li class="hover:text-orange-500 slow">FAQs</li>
            <li class="hover:text-orange-500 slow">Store Locator</li>
            <li class="hover:text-orange-500 slow">Shipping Policy</li>
            <li class="hover:text-orange-500 slow">Terms & Condition</li>
            <li class="hover:text-orange-500 slow">Privacy Policy</li>
            <li class="hover:text-orange-500 slow">Refund & Returns</li>
          </ul>
          <ul class="flex flex-col list-none text-sm">
            <h2 class="text-lg font-semibold">SHOP</h2>
            <li class="hover:text-orange-500 slow">AJMAL</li>
            <li class="hover:text-orange-500 slow">AND</li>
            <li class="hover:text-orange-500 slow">DEODORANTS</li>
            <li class="hover:text-orange-500 slow">COMBOS</li>
          </ul>
          <ul class="flex flex-col list-none text-sm">
            <h2 class="text-lg font-semibold">Quick Links</h2>
            <li class="hover:text-orange-500 slow">Our Journey</li>
            <li class="hover:text-orange-500 slow">Travel Retail</li>
            <li class="hover:text-orange-500 slow">Exports</li>
            <li class="hover:text-orange-500 slow">Crafting Memories</li>
            <li class="hover:text-orange-500 slow">Blog</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="bottom-header py-5 flex justify-between items-center">
        <img
          class="payment-provider-list"
          src="https://in.ajmal.com/public/images/card-list.svg"
          alt=""
        />
        <div class="social-links text-amber-800/80 text-lg flex gap-2">
          <div
            class="social-icon size-10 rounded-full flex-center border border-amber-800/80"
          >
            <i class="fa-brands fa-instagram"></i>
          </div>
          <div
            class="social-icon size-10 rounded-full flex-center border border-amber-800/80"
          >
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div
            class="social-icon size-10 rounded-full flex-center border border-amber-800/80"
          >
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div
            class="social-icon size-10 rounded-full flex-center border border-amber-800/80"
          >
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="contact-info">
          <h4>ajmal.support@nha-world.com</h4>
          <h4>Toll Free +91-9930063303</h4>
        </div>
        <div class="app-info flex gap-2">
          <img src="https://in.ajmal.com/public/images/app-store.svg" alt="" />
          <img
            src="https://in.ajmal.com/public/images/google-play.svg"
            alt=""
          />
          <img src="https://in.ajmal.com/public/images/qr-code.svg" alt="" />
        </div>
      </div>
    </footer>
  </body>
</html>
