<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../output.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header class="">
      <div class="top-header bg-[#2b2826] text-center text-white py-1">
        Get Extra 10% Discount, Use code AJMAL10
      </div>
      <div
        class="main-header px-primary-pad pt-2 flex justify-between items-center"
      >
        <div class="logo">
          <img src="https://in.ajmal.com/public/images/logo.svg" alt="" />
        </div>
        <div class="middle-section">
          <div
            class="search-bar flex justify-between border rounded-3xl p-1.5 gap-1"
          >
            <span class="material-symbols-outlined"> search </span>
            <input
              type="text"
              class="grow border rounded-2xl ps-2 ring-1 ring-gray-300"
              placeholder="Search here"
            />
            <span class="material-symbols-outlined"> mic </span>
          </div>
          <nav class="flex mt-2 gap-4 font-medium">
            <a href="">HOME</a>
            <a href="">SHOP</a>
            <a href="">AJMAL STUDIO</a>
            <a href="">ABOUT</a>
            <a href="">OUR STORES</a>
            <a href="">GIFTING</a>
          </nav>
        </div>
        <div class="options flex gap-6">
          <img
            class="size-6 rounded-full ring-1 ring-gray-300"
            src="https://www.svgrepo.com/show/401651/flag-for-india.svg"
            alt=""
          />
          <span class="material-symbols-outlined"> login </span>
          <span class="material-symbols-outlined"> shopping_cart </span>
          <span class="material-symbols-outlined"> local_shipping </span>
        </div>
      </div>
    </header>
  </body>
</html>
