<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body>
    <div
      class="instagram-card size-[300px] rounded-xl relative group overflow-hidden"
    >
      <img
        class="w-full h-full rounded-xl object-cover"
        src="https://scontent-mxp2-1.cdninstagram.com/v/t51.29350-15/445725779_827423189249802_3532739007335482038_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=18de74&_nc_ohc=ssA66goIilYQ7kNvgFBzxe3&_nc_ht=scontent-mxp2-1.cdninstagram.com&edm=AM6HXa8EAAAA&oh=00_AYC64kYPwb9ZfB4mOmg4cZpZqrTmO3ogI4uaZyHia4A3zg&oe=66676C71&auto=webp&format=pjpg&width=320&height=400&fit=cover"
        alt=""
      />
      <div
        class="info size-full rounded-xl p-4 absolute -top-2 left-0 opacity-0 group-hover:opacity-100 flex bg-gradient-to-b from-transparent to-gray-600 flex-col justify-end text-gray-300 transition-all duration-300 group-hover:top-0"
      >
        <p class="line-clamp-2 mb-1">
          Step into a world where every scent tells a story Wth Amal Perfumes.
          Whether this is some filler text
        </p>
        <hr />
        <div class="icons p-1 flex items-center text-lg gap-1 text-slate-300">
          <i class="fa-regular fa-comment flex-center text-lg"></i> 3
          <span class="material-symbols-outlined text-xl"> favorite </span>83
        </div>
      </div>
    </div>
  </body>
</html>
