<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../output.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <div
      class="perfume-card bg-[#cde5fe] p-5 rounded-2xl relative max-w-[330px] m-24"
    >
      <img
        class="h-60 relative -top-24 mx-auto"
        src="https://in.ajmal.com/media/catalog/product/c/o/cocogold_concentrated_5ml_1_.png?auto=webp&format=png&width=160&height=200&fit=cover"
        alt=""
      />
      <div
        class="content flex flex-col justify-around items-center gap-2 text-center -mt-20"
      >
      <div class="favorite flex-center bg-orange-400/5 p-2.5 rounded-full absolute right-1 top-2"><span class="material-symbols-outlined " style="color:rgba(165, 42, 42, 0.573)">
        favorite
        </span></div>
        <div class="tag tag-clip bg-label-red text-sm text-white p-1 pr-7">
          New arrival
        </div>
        <div class="offer bg-label-red px-2 rounded-xl text-white text-sm">
          10%
        </div>
        <h5 class="specification text-gray-500 text-sm">
          CONCENTRATED / 5 ML/ FEMALE
        </h5>
        <h2 class="title text-2xl font-tangerine line-clamp-2">
          Coco Gold Concentrated Perfume Free From alcohol
        </h2>
        <div class="price font-bold text-lg"><span class="line-through font-medium">&#8377; 500</span "> &#8377; 450</div>
        <div class="btns mt-1 flex gap-3">
          <a
            href="#"
            class="btn p-4 px-6 rounded-[48px] bg-ajmal-primary text-white font-medium"
            >Buy Now</a
          >
          <a
            href="#"
            class="btn p-4 px-6 rounded-[48px] bg-ajmal-primary text-white font-medium hover:bg-amber-700 transition-colors duration-500"
            >Add to cart</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
